.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  height: 100vh;
}

.AppDark {
  background-color: black;
}

.App-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: aliceblue;
  padding: 1rem;
  gap: 2rem;
  width: 30rem;
}

.darkmode {
  background-color: rgb(77, 77, 77);
  color: azure;
}

.CardImage {
  width: 40%;
}

.CardImage img {
  width: 100%;
  border-radius: 5px;
}

.Card-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

